<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <title>登录</title>
</head>
<body>
<div style="width: 600px;margin: 0 auto;margin-top: 200px; padding:50px;border: #0C0C0C 1px solid;border-radius: 10px;">
    <label style="font-size: 30px;margin: 0 auto;display: block;padding: 9px 15px;width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;">
        登录
    </label>
    <div style="margin: 20px">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="userName" id="userName" class="layui-input"/>
        </div>
    </div>

    <div style="margin: 20px">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" class="layui-input">
        </div>
    </div>

    <a href="/carManage/register" class="layui-btn" style="float: right">去注册</a>
    <button name="confirm" id="confirm" class="layui-btn" style="float: right;margin-right: 20px">登录</button>
</div>

    <script type="text/javascript" th:inline="none">
        $("#confirm").click(function () {
            var userName = $("#userName").val();
            var password = $("#password").val();
            var data = {"userName" : userName, "password" : password};
            var href = "/carManage/index?userName="+userName.toString();
            if($.trim(userName) && $.trim(password)) {
                // 异步请求
                $.ajax({
                    url: "http://127.0.0.1:8088/User/login",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(data), // 传递给后台的数据
                    dataType: "json", //服务器响应返回的数据类型
                    // 服务器请求响应成功执行的方法
                    success: function(res) {
                        if(res.status === 200) {
                            alert("登录成功");
                            document.cookie = "redisKey="+res.data;
                            location.href=href;
                        }
                        else{
                            alert(res.data);
                        }
                    }
                });
            } else {
                alert("用户名和密码不能为空");
            }
        });
    </script>
</body>

</html>